*, html
    margin: 0
    padding-bottom: 0

    body
        user-select: none
        width: 100%

        .main
            margin-left: 7vw

            .terminalHeader
                padding-top: 5vh
                margin-bottom: 5vh

                .headerSpan
                    font-size: 1.4rem
        
        .terminalTyper
            font-size: 1.1rem

            .response
                padding-left: 5vw
            
            .typer
                display: flex

            .blink
                background-color: green
                animation: blinker 1s linear infinite

.command
    color: red

.red
    color: red

.green
    color: green

@keyframes blinker
    50%
        opacity: 0