*, html
    margin: 0
    padding: 0

    body
        height: 25vh
        user-select: none

        .typer
            display: flex

.blink
    background-color: green
    animation: blinker 1s linear infinite


@keyframes blinker
    50%
        opacity: 0